html body {
    margin: auto;
    padding: 0;
    width: 90%;
    
}


button, div, form, input {
margin: 10px;
}

.main-content {
width: 100%;
margin: auto;
}

img {
    float: left;
    display: table;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}